    body {
        background-color: #f4f4f4;
        font-family: 'Arial', sans-serif;
    }
    .navbar {
        background-color: #0d6efd;
    }
    .navbar-brand {
        font-weight: bold;
    }
    .form-container {
        margin-top: 50px; /* Espacio entre la barra de navegación y el formulario */
    }
    form {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        max-width: 800px;
        margin: auto;
        padding: 20px;
        border: 2px solid #007bff;
        border-radius: 10px;
    }
    h1 {
        color: #007bff;
        margin-bottom: 20px;
        text-align: center;
        font-weight: bold;
    }
    label {
        margin-bottom: 8px;
        color: #333;
        font-weight: bold;
    }
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type='number'],
    input[type='tel'],
    input[type='email'] {
        width: 100%;
        padding: 8px;
        margin-bottom: 16px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }
    button.btn-primary {
        background-color: #007bff;
        color: #fff;
        padding: 12px 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        width: 100%;
        display: block;
        margin: 0 auto; /* Centrar horizontalmente */
    }
    button.btn-primary:hover {
        background-color: #0056b3;
    }